<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email (simple)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{greeting(${username})}">
            Hello, Peter Static!
        </p>
        <p th:if="${name.length() gt 10}">
            Wow! You've got a long name (more than 10 chars)!
        </p>
        
		<p>
			Your password has been reset to <b><span th:text="${tempPasswd}">123</span></b>. Please sign-in as <b><span th:text="${username}">Peter.Static</span></b> and change your password to something you can remember.
        </p>

        <p>
            Regards, <br />
            &emsp; <em>The Administrator</em>
        </p>
    </body>
</html>
