<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>gpxClone, from Me</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>

		<!-- Le styles -->
		<link href="../../static/css/bt_memberLogin.css" rel="stylesheet" type="text/css"
			th:href="@{/static/css/bt_memberLogin.css}"/>
		<link href="../../static/css/body.css" rel="stylesheet" type="text/css"
				th:href="@{/static/css/body.css}"/>
		<link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet"
			th:href="@{/static/bootstrap/css/bootstrap.css}"/>
		<link href="../../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"
			th:href="@{/static/bootstrap/css/bootstrap-responsive.css}"/>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" id="unwire_brand" href="#" th:href="@{/}"><img src="../../static/images/unwire.jpg" th:src="@{/static/images/unwire.jpg}"/></a>
					<ul class="nav">
						<li><a href="#contact">Contact</a></li>
					</ul>
					
					<form id="nominatim" class="navbar-search pull-left" action="http://nominatim.openstreetmap.org/search" method="GET">
						<input name="q" type="text" class="search-query" placeholder="Find place"/>							
						<input type="hidden" name="format" value="xml"/>
						<input type="hidden" name="limit" value="1"/>
					</form>
					
					<ul class="nav pull-right">
						<li  class="userAction">
							<a th:href="@{/members/new}" href="../members/bt_memberForm.html">Register</a>
						</li>
								
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			
			<form class="form-signin" action="../home/bt_map.html" th:action="@{/j_spring_security_check}" method="post">
				<legend>Please sign in</legend>
                                <div th:if="${param.error}" class="alert alert-error">    
                                    Invalid username and password.
                                </div>
				<input type="text" class="input-block-level" placeholder="Username" name="j_username" required="required"/>
				<input type="password" class="input-block-level" placeholder="Password" name="j_password" required="required"/>
				<label class="checkbox">
					<input type="checkbox" value="remember-me" name="_spring_security_remember_me" checked="checked"/> Remember me
				</label>
				<button class="btn btn-primary" type="submit">Sign in</button>
			</form>

		</div> <!-- /container -->
		
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../static/scripts/jquery-1.9.1.js"
			th:src="@{/static/scripts/jquery-1.9.1.js}"></script>
		<script src="../../static/bootstrap/js/bootstrap.js"
			th:src="@{/static/bootstrap/js/bootstrap.js}"></script>			
	</body>
</html>
