<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>gpxClone, from Me</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>

		<!-- Le styles -->
		<link href="../../static/css/bt_map.css" rel="stylesheet" type="text/css"
			th:href="@{/static/css/bt_map.css}"/>
		<link href="../../static/scripts/OpenLayers-2.12/theme/dark/style.css" rel="stylesheet" type="text/css"
            th:href="@{/static/scripts/OpenLayers-2.12/theme/dark/style.css}"/>
		<link href="../../static/css/body.css" rel="stylesheet" type="text/css"
				th:href="@{/static/css/body.css}"/>
		<link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet"
			th:href="@{/static/bootstrap/css/bootstrap.css}"/>
		<link href="../../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"
			th:href="@{/static/bootstrap/css/bootstrap-responsive.css}"/>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="#">gpxClone</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="" th:href="@{/}">Map</a></li>
							
							<li class="dropdown">
							  <a id="dropTrails" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
									Trails<b class="caret"></b>
							  </a>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="dropTrails">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="../trails/bt_uploadForm.html" th:href="@{/trails/upload}">Upload Trail</a>
								</li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#anotherAction">List Trails</a></li>
							  </ul>
							</li>
							
							<li><a href="#contact">Contact</a></li>
						</ul>
						
						<form id="nominatim" class="navbar-search pull-left" action=" http://nominatim.openstreetmap.org/search" method="GET">
							<input name="q" type="text" class="search-query" placeholder="Find place"/>							
							<input type="hidden" name="format" value="xml"/>
							<input type="hidden" name="limit" value="1"/>
						</form>
						
						<ul class="nav pull-right">
							<li sec:authorize="isAuthenticated()" id="greeting">
								<p class="navbar-text">Hello, <span sec:authentication="name">John Doe</span></p>
							</li>
							<li sec:authorize="!isAuthenticated()" class="userAction">
								<a th:href="@{/members/new}" href="../members/bt_memberForm.html">Register</a>
							</li>
							<li sec:authorize="!isAuthenticated()" class="userAction">
								<a href="../members/bt_memberLogin.html" th:href="@{/members/login}">Log In</a>
							</li>


							<li sec:authorize="isAuthenticated()" class="userAction">
								<a href="../home/bt_map.html" th:href="@{/j_spring_security_logout}">Log Out</a>
							</li>			
						</ul>

					</div>
				</div>
			</div>
		</div>
		<div class="container">
		
		<div class="row">
			<div class="span5 offset1" id="map_description">
				<h2 style="margin:auto;">Welcome to gpxClone!</h2>
				<p style="margin:auto;">This my personal pet project. My aim is to create a clone 
					<a href="http://www.gpsies.com">gpsies.com</a>.
				</p>
			</div>
		</div>
		
			<div class="row">
				<div class="span3" id="map_info">
					<div class="pull-right" id="position"><small>Position</small></div>
					<div class="pull-left" id="scale"><small>Scale</small></div>
					<p id="feature_info">
					<!--
					    <table class="table table-condensed">
							<thead>
								<tr>
									<th>trackID</th>
									<th>Owner</th>
									<th>Type</th>
									<th>Public</th>
								</tr>
							</thead>
							
							<tbody>
								<tr>
									<td>trackID</td>
									<td>Owner</td>
									<td>Type</td>
									<td>Public</td>
								</tr>							
							</tbody>
						</table>-->						
					</p>
				</div>
				<div class="span8" id="map_container">
					<div id="map"/>
				</div>
			</div>

		</div> <!-- /container -->
		
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../static/scripts/jquery-1.9.1.js"
			th:src="@{/static/scripts/jquery-1.9.1.js}"></script>
		<script src="../../static/bootstrap/js/bootstrap.js"
			th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
		<script src="../../static/scripts/OpenLayers-2.12/OpenLayers.js"
            th:src="@{/static/scripts/OpenLayers-2.12/OpenLayers.js}"></script>
		<script src="../../static/scripts/jqMapOSM2.js"
            th:src="@{/static/scripts/jqMapOSM2.js}"></script>
		<script src="../../static/scripts/jquery.form.js"
            th:src="@{/static/scripts/jquery.form.js}"></script>
	
			
	</body>
</html>
